.container{
    display: flex;
    flex-direction:left ;
  }

  .nav_links{
    display: flex;
    font-size: 15px;
     
  }
  
  .nav_link{
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
    cursor: pointer;
    
  }
  .lien{
    text-decoration: none;
    color: black;
    margin-right: 20px;

  }

  .logo{
    width: 25%;
    height: auto;
    padding-top: 25px;
    margin-left: 80%;
  }

  .last-part{
    margin-left: 25%;
    margin-top: 20px;
    font-size: 18px;
  }
  .fa-user{
    margin-right: 10px;
  }
  .fa-heart{
    margin-right: 10px;

  }
  .fa-bag-shopping{
    margin-right: 10px;
    
  }
  .link{
    color: black;
  }

  .container2{
    display: flex;
    flex-direction:left ;
  }

  .nav_links2{
    display: flex;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 40px;
    cursor: pointer;
     
  }
  
  .nav_link2{
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
    cursor: pointer;
    
  }
  .lien2{
    text-decoration: none;
    color: black;
    margin-right: 20px;

  }

  .lien2:hover{
    text-decoration: underline;
  }

  .search-bar {
    float: right;
    margin-top: 20px;
    position: relative;
    margin-right: 15px;
 }

 .search-bar input {
    border: none;
    border-bottom: 1px solid #000; /* Trait en bas de la barre de recherche */
    outline: none;
  }

  .container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
    
  }

  .nav_links3{
    display: flex;
    font-size: 15px;
   margin-left:13% ;
    margin-top: 40px;

  }
  
  .nav_link3{
   margin-right: 150px;
   list-style-type: none;
    
  }
  .lien3{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    cursor: pointer;

  }

  .lien3:hover {
    text-decoration: underline;
  }

  .fenetre{
    margin-top: 20px;
    
   
  }
  .image-container {
    position: relative;
    display: inline-block;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 45%;
    font-size: 30px;
  
  }

  .btn-fenetre{
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .btn-fenetre:hover{
    background-color:#bcc2d6 ;
    transition: all 0.6s ease;
  }

  .titre{
    margin-right: 58%;
    margin-top: 30px;
  }

  
.clothes {
    display: flex;
    justify-content: space-between; 
  }

  .clothes div {
    text-align: center;
  }

  .clothes img {
    max-width: 60%;
    margin-bottom: 10px;
    cursor: pointer;
}

 .clothes .p1{
    color: gray;
 }

 .vitrine{
    width: 1000px;
    margin-top: 3%;
    margin-left: 13%;
    z-index: 1;
   
    
 }

 
.container2{
  position: relative;
  text-align: center;
}
.container2 img {
  position: relative;
  
}

.overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-family: 'Roboto', sans-serif; 
  z-index: 2;
}

.logo2 {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 50px; /* Ajustez la taille du logo selon vos préférences */
  height: auto;
  z-index: 3; 
}

.text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif; 
  z-index: 2;
}

.button-container {
  position: absolute;
  top: 90%; /* Ajustez cette valeur pour placer les boutons à l'endroit souhaité */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.button{
  font-size: 20px;
    cursor: pointer;
    height: 40px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.button:hover{
  background-color:#bcc2d6 ;
  transition: all 0.6s ease;
}
